tinyurl.com/data-lor

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset =pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
5    15728773    Male   27            58000          0
6    15598044  Female   27            84000          0
7    15694829  Female   32           150000          1
8    15600575    Male   25            33000          0
9    15727311  Female   35            65000          0
10   15570769  Female   26            80000          0
11   15606274  Female   26            52000          0
12   15746139    Male   20            86000          0
13   15704987    Male   32            18000          0
14   15628972    Male   18            82000          0
15   15697686    Male   29            80000          0
16   15733883    Male   47            25000          1
17   15617482    Male   45            26000          1
18   15704583    Male   46            28000          1
19   15621083  Female   48            29000          1
20   15649487    Male   45            22000          1
21   15736760  Female   47            49000          1
22   15714658    Male   48            41000          1
23   15599081  Female   45            22000          1
24   15705113    Male   46            23000          1
25   15631159    Male   47            20000          1
26   15792818    Male   49            28000          1
27   15633531  Female   47            30000          1
28   15744529    Male   29            43000          0
29   15669656    Male   31            18000          0
..        ...     ...  ...              ...        ...
370  15611430  Female   60            46000          1
371  15774744    Male   60            83000          1
372  15629885  Female   39            73000          0
373  15708791    Male   59           130000          1
374  15793890  Female   37            80000          0
375  15646091  Female   46            32000          1
376  15596984  Female   46            74000          0
377  15800215  Female   42            53000          0
378  15577806    Male   41            87000          1
379  15749381  Female   58            23000          1
380  15683758    Male   42            64000          0
381  15670615    Male   48            33000          1
382  15715622  Female   44           139000          1
383  15707634    Male   49            28000          1
384  15806901  Female   57            33000          1
385  15775335    Male   56            60000          1
386  15724150  Female   49            39000          1
387  15627220    Male   39            71000          0
388  15672330    Male   47            34000          1
389  15668521  Female   48            35000          1
390  15807837    Male   48            33000          1
391  15592570    Male   47            23000          1
392  15748589  Female   45            45000          1
393  15635893    Male   60            42000          1
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
x= dataset.iloc[:,1:4].values
x

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [6]:
y= dataset.iloc[:,4:].values
y

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1]], dtype=int64)

In [7]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [8]:
x[:,0]=lb.fit_transform(x[:,0])

In [9]:
x

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [10]:
from sklearn.model_selection import train_test_split                #previously cros_validation was used in sklearn
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [11]:
x_train

array([[1, 58, 144000],
       [0, 59, 83000],
       [0, 24, 55000],
       [0, 26, 35000],
       [0, 58, 38000],
       [0, 42, 80000],
       [0, 40, 75000],
       [1, 59, 130000],
       [0, 46, 41000],
       [0, 41, 60000],
       [1, 42, 64000],
       [0, 37, 146000],
       [0, 23, 48000],
       [1, 25, 33000],
       [1, 24, 84000],
       [0, 27, 96000],
       [1, 23, 63000],
       [1, 48, 33000],
       [1, 48, 90000],
       [1, 42, 104000],
       [0, 44, 39000],
       [1, 32, 120000],
       [0, 38, 50000],
       [0, 32, 135000],
       [0, 52, 21000],
       [0, 53, 104000],
       [1, 39, 42000],
       [1, 38, 61000],
       [0, 36, 50000],
       [0, 36, 63000],
       [0, 35, 25000],
       [1, 35, 50000],
       [1, 42, 73000],
       [0, 47, 49000],
       [0, 59, 29000],
       [1, 49, 65000],
       [0, 45, 131000],
       [0, 31, 89000],
       [0, 46, 82000],
       [0, 47, 51000],
       [1, 26, 15000],
       [1, 60, 102000],
       [0, 38, 112000],
       [1, 40, 107000],
       [0, 42, 53000],
       [1, 35, 59000],
       [1, 48, 41000],
       [0, 48, 134000],
       [0, 38, 113000],
       [1, 29, 148000],
       [0, 26, 15000],
       [1, 60, 42000],
       [1, 24, 19000],
       [1, 42, 149000],
       [0, 46, 96000],
       [1, 28, 59000],
       [1, 39, 96000],
       [1, 28, 89000],
       [1, 41, 72000],
       [1, 45, 26000],
       [0, 33, 69000],
       [0, 20, 82000],
       [1, 31, 74000],
       [1, 42, 80000],
       [0, 35, 72000],
       [0, 33, 149000],
       [1, 40, 71000],
       [0, 51, 146000],
       [1, 46, 79000],
       [1, 35, 75000],
       [1, 38, 51000],
       [0, 36, 75000],
       [0, 37, 78000],
       [1, 38, 61000],
       [0, 60, 108000],
       [0, 20, 82000],
       [1, 57, 74000],
       [1, 42, 65000],
       [1, 26, 80000],
       [1, 46, 117000],
       [1, 35, 61000],
       [0, 21, 68000],
       [0, 28, 44000],
       [1, 41, 87000],
       [0, 37, 33000],
       [1, 27, 90000],
       [1, 39, 42000],
       [1, 28, 123000],
       [0, 31, 118000],
       [1, 25, 87000],
       [0, 35, 71000],
       [1, 37, 70000],
       [1, 35, 39000],
       [1, 47, 23000],
       [0, 35, 147000],
       [0, 48, 138000],
       [1, 26, 86000],
       [1, 25, 79000],
       [0, 52, 138000],
       [1, 51, 23000],
       [0, 35, 60000],
       [0, 33, 113000],
       [1, 30, 107000],
       [1, 48, 33000],
       [0, 41, 80000],
       [0, 48, 96000],
       [1, 31, 18000],
       [0, 31, 71000],
       [1, 43, 129000],
       [0, 59, 76000],
       [0, 18, 44000],
       [1, 36, 118000],
       [0, 42, 90000],
       [0, 47, 30000],
       [0, 26, 43000],
       [1, 40, 78000],
       [1, 46, 59000],
       [0, 59, 42000],
       [0, 46, 74000],
       [1, 35, 91000],
       [0, 28, 59000],
       [1, 40, 57000],
       [1, 59, 143000],
       [0, 57, 26000],
       [0, 52, 38000],
       [0, 47, 113000],
       [0, 53, 143000],
       [1, 35, 27000],
       [0, 58, 101000],
       [0, 45, 45000],
       [0, 23, 82000],
       [1, 46, 23000],
       [1, 42, 65000],
       [0, 28, 84000],
       [1, 38, 59000],
       [0, 26, 84000],
       [0, 29, 28000],
       [0, 37, 71000],
       [0, 22, 55000],
       [0, 48, 35000],
       [1, 49, 28000],
       [0, 38, 65000],
       [0, 27, 17000],
       [1, 46, 28000],
       [1, 48, 141000],
       [0, 26, 17000],
       [0, 35, 97000],
       [0, 39, 59000],
       [0, 24, 27000],
       [1, 32, 18000],
       [1, 46, 88000],
       [1, 35, 58000],
       [1, 56, 60000],
       [1, 47, 34000],
       [0, 40, 72000],
       [1, 32, 100000],
       [0, 19, 21000],
       [1, 25, 90000],
       [1, 35, 88000],
       [1, 28, 32000],
       [0, 50, 20000],
       [1, 40, 59000],
       [0, 50, 44000],
       [1, 35, 72000],
       [0, 40, 142000],
       [0, 46, 32000],
       [0, 39, 71000],
       [1, 20, 74000],
       [1, 29, 75000],
       [1, 31, 76000],
       [1, 47, 25000],
       [1, 40, 61000],
       [1, 34, 112000],
       [0, 38, 80000],
       [0, 42, 75000],
       [0, 47, 47000],
       [0, 39, 75000],
       [1, 19, 25000],
       [0, 37, 80000],
       [1, 36, 60000],
       [1, 41, 52000],
       [1, 36, 125000],
       [0, 48, 29000],
       [0, 36, 126000],
       [0, 51, 134000],
       [0, 27, 57000],
       [1, 38, 71000],
       [0, 39, 61000],
       [0, 22, 27000],
       [0, 33, 60000],
       [1, 48, 74000],
       [0, 58, 23000],
       [1, 53, 72000],
       [0, 32, 117000],
       [1, 54, 70000],
       [1, 30, 80000],
       [0, 58, 95000],
       [0, 26, 52000],
       [1, 45, 79000],
       [1, 24, 55000],
       [1, 40, 75000],
       [0, 33, 28000],
       [0, 44, 139000],
       [1, 22, 18000],
       [0, 33, 51000],
       [0, 43, 133000],
       [0, 24, 32000],
       [0, 46, 22000],
       [1, 35, 55000],
       [0, 54, 104000],
       [0, 48, 119000],
       [1, 35, 53000],
       [1, 37, 144000],
       [0, 23, 66000],
       [0, 37, 137000],
       [1, 31, 58000],
       [0, 33, 41000],
       [0, 45, 22000],
       [1, 30, 15000],
       [1, 19, 19000],
       [1, 49, 74000],
       [1, 39, 122000],
       [1, 35, 73000],
       [1, 39, 71000],
       [1, 24, 23000],
       [0, 41, 72000],
       [0, 29, 83000],
       [0, 54, 26000],
       [0, 35, 44000],
       [1, 37, 75000],
       [0, 29, 47000],
       [0, 31, 68000],
       [1, 42, 54000],
       [1, 30, 135000],
       [0, 52, 114000],
       [0, 50, 36000],
       [1, 56, 133000],
       [1, 29, 61000],
       [1, 30, 89000],
       [1, 26, 16000],
       [1, 33, 31000],
       [0, 41, 72000],
       [1, 36, 33000],
       [0, 55, 125000],
       [0, 48, 131000],
       [0, 41, 71000],
       [0, 30, 62000],
       [1, 37, 72000],
       [0, 41, 63000],
       [0, 58, 47000],
       [0, 30, 116000],
       [1, 20, 49000],
       [1, 37, 74000],
       [1, 41, 59000],
       [1, 49, 89000],
       [1, 28, 79000],
       [0, 53, 82000],
       [1, 40, 57000],
       [1, 60, 34000],
       [1, 35, 108000],
       [1, 21, 72000],
       [1, 38, 71000],
       [1, 39, 106000],
       [0, 37, 57000],
       [0, 26, 72000],
       [0, 35, 23000],
       [0, 54, 108000],
       [1, 30, 17000],
       [1, 39, 134000],
       [1, 29, 43000],
       [1, 33, 43000],
       [1, 35, 38000],
       [1, 41, 45000],
       [0, 41, 72000],
       [0, 39, 134000],
       [0, 27, 137000],
       [0, 21, 16000],
       [1, 26, 32000],
       [1, 31, 66000],
       [0, 39, 73000],
       [1, 41, 79000],
       [0, 47, 50000],
       [0, 41, 30000],
       [0, 37, 93000],
       [0, 60, 46000],
       [1, 25, 22000],
       [0, 28, 37000],
       [0, 38, 55000],
       [0, 36, 54000],
       [0, 20, 36000],
       [0, 56, 104000],
       [1, 40, 57000],
       [0, 42, 108000],
       [0, 20, 23000],
       [1, 40, 65000],
       [1, 47, 20000],
       [0, 18, 86000],
       [1, 35, 79000],
       [0, 57, 33000],
       [0, 34, 72000],
       [0, 49, 39000],
       [0, 27, 31000],
       [1, 19, 70000],
       [0, 39, 79000],
       [1, 26, 81000],
       [1, 25, 80000],
       [0, 28, 85000],
       [1, 55, 39000],
       [0, 50, 88000],
       [1, 49, 88000],
       [1, 52, 150000],
       [0, 35, 65000],
       [1, 42, 54000],
       [1, 34, 43000],
       [1, 37, 52000],
       [0, 48, 30000],
       [1, 29, 43000],
       [1, 36, 52000],
       [0, 27, 54000],
       [0, 26, 118000]], dtype=object)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler#Feature scaling
from sklearn.pipeline import Pipeline # Pipeline
pipe = Pipeline([
    ('rescale', StandardScaler()),
    ('classifier', LogisticRegression())
])

In [13]:
pipe.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(memory=None,
         steps=[('rescale',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [16]:
y_pred=pipe.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [15]:
y_test

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1]], dtype=int64)

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9125